body {
    font-family: 'Arial', sans-serif;
    background-color: #f1e3e3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1, h2 {
    color: black;
}
p {
    color: black;
}
ul {
    list-style-type: none;
    color: black;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
button {
    background-color: #4caf50;
    color: white;
    padding: 20px 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}
th,td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: #4caf50;
    color: white;
}